body {
	text-align:center;
}


#authentication_bg{
	width:480px;
	height:800px;
	background-image:url(../images/authentication_bg.png);
	margin:0% 0% 0% 0%;
	padding:0% 0% 0% 0%;
	position:relative;
	overflow: hidden;
}

#authentication_balloon{
	width:356px;
	height:70px;
	background-image:url(../images/authentication_balloon.png);
	margin:10% 0% 0% 8%;
	padding:0% 0% 0% 0%;
}


#authentication_button01 a{
	display:block;
	width:230px;
	height:230px;
	background-image:url(../images/authentication_button01.png);
	margin:30% 0% 0% 22%;
	padding:0% 0% 0% 0%;
}

#authentication_button01 a:hover{
	width:230px;
	height:230px;
	background-image:url(../images/authentication_button02.png);
	margin:30% 0% 0% 22%;
	padding:0% 0% 0% 0%;
}






#top_bg{
	width:480px;
	height:800px;
	background-image:url(../images/top_bg.png);
	margin:0% 0% 0% 0%;
	padding:0% 0% 0% 0%;
	position:relative;
	overflow: hidden;

}

#top_balloon{
	width:356px;
	height:70px;
	background-image:url(../images/top_balloon.png);
	margin:10% 0% 0% 8%;
	padding:0% 0% 0% 0%;
}


#top_dr{
	width:356px;
	height:156px;
	background-image:url(../images/top_dr.png);
	margin:20% 0% 10% 8%;
	padding:0% 0% 0% 0%;
}


#top_hh{
	width:356px;
	height:156px;
	background-image:url(../images/top_hh.png);
	margin:20% 0% 10% 8%;
	padding:0% 0% 0% 0%;

}


#sellect_bg_hh{
	width:480px;
	height:800px;
	background-image:url(../images/sellect_bg_hh.png);
	margin:0% 0% 0% 0%;
	padding:0% 0% 0% 0%;
	position:relative;
	overflow: hidden;
}

#sellect_bg_dr{
	width:480px;
	height:800px;
	background-image:url(../images/sellect_bg_dr.png);
	margin:0% 0% 0% 0%;
	padding:0% 0% 0% 0%;
	position:relative;
	overflow: hidden;
}

#sellect_ballon{
	width:356px;
	height:70px;
	background-image:url(../images/sellect_ballon.png);
	margin:10% 0% 0% 8%;
	padding:0% 0% 0% 0%;
}

#sellect_from{
	width:120px;
	height:160px;
	background-image:url(../images/sellect_from.png);
	margin:3% 0% 0% 5%;
	padding:0% 0% 0% 0%;
	display: block;
}


#sellect_from_ballon{
	width:265px;
	height:160px;
	background-image:url(../images/sellect_from_ballon.png);
	margin:-38% 0% 0% 30%;
	padding:0% 0% 0% 0%;
	display: block;
}


#sellect_cen_ballon{
	width:230px;
	height:130px;
	background-image:url(../images/sellect_cen_ballon.png);
	margin:2% 0% 0% 38%;
	padding:0% 0% 0% 0%;
}

#sellect_to_ballon{
	width:265px;
	height:160px;
	background-image:url(../images/sellect_to_ballon.png);
	margin:18% 0% 0% 8%;
	padding:0% 0% 0% 0%;
	display: block;
}


#sellect_to{
	width:120px;
	height:160px;
	background-image:url(../images/sellect_to.png);
	margin:-38% 0% 0% 66.5%;
	padding:0% 0% 0% 0%;
	display: block;
}

#sellect_submit_hh{
	width:355px;
	height:65px;
	background-image:url(../images/sellect_submit_hh.png);
	margin:6% 0% 0% 8%;
	padding:0% 0% 0% 0%;
	display: block;
}


#sellect_submit_dr{
	width:355px;
	height:65px;
	background-image:url(../images/sellect_submit_dr.png);
	margin:6% 0% 0% 8%;
	padding:0% 0% 0% 0%;
	display: block;
}



#form_from{
	width:150px;
	height:160px;
	font-size:120%;
	font-weight:bold;
	margin:0% 0% 0% 0%;
	padding:18% 15% 10% 30%;
	display: block;
}


#form_to{
	width:150px;
	height:160px;
	font-size:120%;
	font-weight:bold;
	margin:0% 0% 0% 0%;
	padding:17% 8% 8% 5%;
	display: block;
}


#form_cen{
	width:160px;
	height:180px;
	font-size:120%;
	margin:0% 0% 0% 0%;
	padding:6% 4% 4% 18%;
	display: block;
}



#matching_bg{
	width:480px;
	height:800px;
	background-image:url(../images/matching_bg.png);
	margin:0% 0% 0% 0%;
	padding:0% 0% 0% 0%;
	position:relative;
	overflow: hidden;
}

#matching_balloon01{
	width:350px;
	height:120px;
	background-image:url(../images/matching_balloon01.png);
	margin:15% 0% 0% 8%;
	padding:0.2% 0% 0% 0%;
}

#matching_balloon02{
	width:362px;
	height:270px;
	background-image:url(../images/matching_balloon02.png);
	margin:-2% 0% 0% 11%;
	padding:0% 0% 0% 0%;
	clear:left;
}


#matching_submit{
	width:355px;
	height:65px;
	background-image:url(../images/matching_submit.png);
	margin:8% 0% 0% 12%;
	padding:0% 0% 0% 0%;
	display: block;
}


#wrapper {
	width:480px;
	float:left;
	margin:0% 4% 0% -20%;
	padding:0% 0% 0% 0%;
	display:inline;
}


#prev {
	width:52px;
	height:85px;
	float:right;
	margin:8% 0% 0% 0%;
	padding:0% 0% 0% 0%;
//	margin:30px 0px 0px 0px;
//	padding:0px 0px 0px 0px;
	background-image:url(../images/matching_prev.png);
}


#contents {
	width:330px;
	height:155px;
	float:right;
	overflow: auto;
	display:inline;
}

#next {
	width:52px;
	height:85px;
	float:left;
	margin:8% 0% 0% -4%;
	padding:0% 0% 0% 0%;
	background-image:url(../images/matching_next.png);
}



//#matching_to {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	margin:0px px 0px 0px;
	padding:0px 0px 0px 0px;
}